@model IEnumerable<MvcApplicationRUTH.Models.CourseType>
@{
    ViewBag.Title = "AllCourseType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hgroup class="title">
    <h2>@Html.ActionLink("Add new Course Type", "AddCourseType", "Home")</h2>
</hgroup>
<table id="example1" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Course Type Names</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td style="text-transform: uppercase;">
                @Html.DisplayFor(modelItem => item.courseTypeNoID)
            </td>
            <td style="text-transform: uppercase;">
                @Html.DisplayFor(modelItem => item.courseTypeDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "CourseTypeEdit", new { id = item.courseTypeNoID }) |
                @Html.ActionLink("Delete", "CourseTypeDelete", new { id = item.courseTypeNoID })
            </td>
        </tr>
    }
</table>

