@model IEnumerable<MvcApplicationRUTH.Models.Client>
@{
    ViewBag.Title = "AllClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hgroup class="title">
    <h2>@Html.ActionLink("Add new Client", "AddClient", "Home")</h2>
</hgroup>
<table id="example1" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Client Names</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td style="text-transform: uppercase;">
                @Html.DisplayFor(modelItem => item.clientNoID)
            </td>
            <td style="text-transform: uppercase;">
                @Html.DisplayFor(modelItem => item.clientName)
            </td>
            <td>
                @Html.ActionLink("Edit", "ClientEdit", new { id = item.clientNoID }) |
                @Html.ActionLink("Delete", "ClientDelete", new { id = item.clientNoID })
            </td>
        </tr>
    }
</table>

