@model IEnumerable<MvcApplicationRUTH.Models.Location>
@{
    ViewBag.Title = "AllLocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hgroup class="title">
    <h2>@Html.ActionLink("Add new Location", "AddLocation", "Home")</h2>
</hgroup>
<table id="example1" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Location Names</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td style="text-transform: uppercase;">
                @Html.DisplayFor(modelItem => item.locationNoID)
            </td>
            <td style="text-transform: uppercase;">
                @Html.DisplayFor(modelItem => item.locationName)
            </td>
            <td>
                @Html.ActionLink("Edit", "LocationEdit", new { id = item.locationNoID }) |
                @Html.ActionLink("Delete", "LocationDelete", new { id = item.locationNoID })
            </td>
        </tr>
    }
</table>



