@model IEnumerable<MvcApplicationRUTH.Models.PaymentMethod>
@{
    ViewBag.Title = "AllPaymentMethod";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h2>@Html.ActionLink("Add new PaymentMethod", "AddPaymentMethod", "Home")</h2>
</hgroup>
<table id="example1" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Payment Method Names</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td style="text-transform: uppercase;">
                @Html.DisplayFor(modelItem => item.pMethodNoID)
            </td>
            <td style="text-transform: uppercase;">
                @Html.DisplayFor(modelItem => item.methodName)
            </td>
            <td>
                @Html.ActionLink("Edit", "PaymentMethodEdit", new { id = item.pMethodNoID }) |
                @Html.ActionLink("Delete", "PaymentMethodDelete", new { id = item.pMethodNoID })
            </td>
        </tr>
    }
</table>


