<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("RUTH TRAINING COMPANY", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Client", "AllClient", "Home")</li>
                            <li>@Html.ActionLink("Employee", "AllEmployee", "Home")</li>
                            <li>@Html.ActionLink("CourseType", "AllCourseType", "Home")</li>
                            <li>@Html.ActionLink("PaymentMethod", "AllPaymentMethod", "Home")</li>
                            <li>@Html.ActionLink("Location", "AllLocation", "Home")</li>
                            <li>@Html.ActionLink("Delegate", "AllDelegate", "Home")</li>
                            <li>@Html.ActionLink("Course", "AllCourse", "Home")</li>
                            <li><input type="button" value="Backup" /></li>
                            <li><input type="text" value="" /></li>
                            <li><input type="button" value="Retrieve" /></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
